{% extends 'layout.html.twig' %}

{% block body %}
	
	{{ parent() }}

	 <div class="col-lg-6">
			<h2>Añadir Club</h2>
			<hr>
			
			{{form_start(form)}}
			
			<div class="form-group">
				{{ form_label(form.nombre) }}
				{{ form_widget(form.nombre, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Introduce el nombre del club' } } ) }}
			</div>
			
			<div class="form-group">
				{{ form_label(form.telefono) }}
				{{ form_widget(form.telefono, { 'attr' : { 'class' : 'tlf form-control', 'placeholder' : '000-00-00-00' } } ) }}
			</div>
			
			<div class="form-group">
				{{ form_label(form.jugadores) }}
				{{ form_widget(form.jugadores, { 'attr' : { 'class' : 'form-control' } } ) }}
			</div>
			
			{{form_end(form)}}
	</div>
	<div class="clearfix"></div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
		
		<script type="text/javascript">
			
			$(document).ready(function(){
				$('.tlf').mask('000-00-00-00');
			});
		</script>
{% endblock %}