{% extends 'layout.html.twig' %}

{% block body %}
	
	{{ parent() }}

	<div class="col-lg-12 container">
		<h2 class="text-center">Listado de Club</h2>
		<hr/>
			<table class="table table-bordered">
				<thead class="thead-inverse">
					<tr>
						<th>Nombre</th>
						<th>Teléfono</th>
						<th>Jugador</th>
						<th>Borrado</th>
						<th>Acciones</th>
					</tr>
				</thead>
					<tbody>
            {% for club in clubes %}
							<tr>
								<td>{{ club.nombre }}</td>
								<td>{{ club.telefono }}</td>
								<td>{{ club.jugadores.nombre }}</td>
								<td>{{ club.borrado }}</td>
								<td>
									<a href="{{path("lfp_anadir_club")}}" class="btn btn-outline-info">Añadir</a>
									<a href="{{path("lfp_editar_club", {"id":club.id})}}" class="btn btn-outline-success">Editar</a>
									<a href="{{path("lfp_eliminar_club", {"id":club.id})}}" class="btn btn-outline-danger">Eliminar</a>
								</td>
							</tr>
            {% endfor %}
					</tbody>
        </table>
    </div>
    <div class="clearfix"></div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}