{% for flashMessage in app.session.flashbag().get('success') %}
	<div class="alert alert-success" role="alert">
		<strong>{{ flashMessage }}</strong>
	</div>
{% endfor %}

{% for flashMessage in app.session.flashbag().get('warning') %}
  <div class="alert alert-warning" role="alert">
		<strong>{{ flashMessage }}</strong>
	</div>
{% endfor %}

{% for flashMessage in app.session.flashbag().get('danger') %}
  <div class="alert alert-danger" role="alert">
		<strong>{{ flashMessage }}</strong>
	</div>
{% endfor %}
