<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded" style="margin-bottom: 20px;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">LFP</a>
  <div class="collapse navbar-collapse" id="navbarNav">
		
    <ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('lfp_anadir_jugador') }}">Crear Jugador</a>
      </li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('lfp_listar_club') }}">listar Club</a>
      </li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('lfp_anadir_club') }}">Crear Club</a>
      </li>

		</ul>

  </div>
</nav>
			
			
			
			
			
			
